body {
    background-color: #fefefe;
}
.navbar {
    background-color: #ee3a43;
}
.logo-navbar{
    height: 40px;
    width: 40px;
}
.navbar-brand, .nav-link {
    color: #fefefe !important;
}
.navbar-nav .nav-item:hover {
    background-color: #c32d37;
    border-color: #c32d37;
    border-radius: 5px;
}