body {
    background-color: #fefefe;
}
.header {
    background-color: #ee3a43;
    color: #fff;
    padding: 15px;
    text-align: center;
}
.btn-primary {
    background-color: #ee3a43;
    border-color: #ee3a43;
}