body {
    background-color: #fefefe;
    color: #333;
}

.navbar {
    background-color: #ee3a43;
}
.logo-navbar{
    height: 40px;
    width: 40px;
}
.navbar-brand, .nav-link {
    color: #fefefe !important;
}
.navbar-nav .nav-item:hover {
    background-color: #c32d37;
    border-color: #c32d37;
    border-radius: 5px;
}
.btn-primary {
    background-color: #ee3a43;
    border-color: #ee3a43;
}

.btn-primary:hover {
    background-color: #d12f37;
}

.card-header {
    background-color: #ee3a43;
    color: #fefefe;
}